<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My posts</h1>
    <form action="/user/post/own" method="PUT" id="update-post">
        <input type="hidden" id="post-id-input" name="id" value="" required/>
        <input type="text" name="title" id="title" placeholder="Title" required/>
        <br/>
        <textarea name="content" id="content-post" cols="24" rows="10" placeholder="Text content" required></textarea>
        <br/>
        <button id="button-remove-post">Remove Post</button>
        <button type="submit" id="button-update-post">Update Post</button>
    </form>
    <div id="content"></div>
</body>
<script>
    window.addEventListener('load', (e) => {
        fetch('http://localhost:3000/user/post/own/content')
        .then(res => {
            const status = res.status;
            return res.json().then(data => {
                return {status, data};
            });
        })
        .then(data => {
            if(data.status === 200) {
                console.log(data);

                document.querySelector('#content').innerHTML = data.data.map(post => {
                    return `
                        <div>
                            <h2>${post.title}</h2>
                            <h4> User: ${post.userId}</h4>
                            <p>${post.content}</p>
                            <button id="${post.id}" class="edit-button">Edit</button>
                        </div>
                    `;
                }).join('');

            } else if(data.status === 400) {
                alert(data.message);
            }

            const buttons = document.querySelectorAll('.edit-button');
            // console.log(buttons);
            buttons.forEach(button => {
                button.addEventListener('click', (e) => {
                    const postId = e.target.id;
                    // console.log(postId);
                    fetch(`http://localhost:3000/user/post/own/${postId}`)
                    .then(res => {
                        const status = res.status;
                        return res.json().then(data => {
                            return {status, data};
                        });
                    })
                    .then(data => {
                        if(data.status === 200) {
                            document.querySelector('#title').value = data.data.title;
                            document.querySelector('#content-post').value = data.data.content;
                            document.querySelector('#post-id-input').value = data.data.id;
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(err => console.log(err));
                });
            });
        })
        .catch(err => console.log(err));
        
    });

    document.querySelector('#update-post').addEventListener('submit', (e) => {
        e.preventDefault();
        const title = document.querySelector('#title').value;
        const content = document.querySelector('#content-post').value;
        const id = document.querySelector('#post-id-input').value;
        fetch(`http://localhost:3000/user/post/own/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({title, content})
        })
        .then(res => {
            const status = res.status;
            return res.json().then(data => {
                return {status, ...data};
            });
        })
        .then(data => {
            if(data.status === 200) {
                alert(data.message);
                window.location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(err => console.log(err));
    });
    
    document.querySelector('#button-remove-post').addEventListener('click', (e) => {
        e.preventDefault();
        if (!confirm('Are you sure you want to delete this post?')) { return; }
        // const title = document.querySelector('#title').value;
        // const content = document.querySelector('#content-post').value;
        const id = document.querySelector('#post-id-input').value;
        fetch(`http://localhost:3000/user/post/own/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            // body: JSON.stringify({title, content})
        })
        .then(res => {
            const status = res.status;
            return res.json().then(data => {
                return {status, ...data};
            });
        })
        .then(data => {
            if(data.status === 200) {
                alert(data.message);
                window.location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(err => console.log(err));
    });
</script>
</html>